.form-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    width: 90%;
    max-width: 380px;
    border-radius: 3px;
    height: auto;
    background-color: #ffffff;
}

label {
    font-size: smaller;
    font-weight: lighter;
    color: gray;
}

input[type=text] {
    outline: none;
    border: none;
    padding: 10px;
    background-color: #f1f1f1;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 3px;

}

input[type=submit] {
    margin-top: 20px;
    border: none;
    padding: 10px 0;
    background-color: tomato;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 3px;
}

input[type=submit]:hover {
    opacity: 90%;
    cursor: pointer;
}

@media (max-width:400px) {
    form {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
}