 .leftbar-container {
     width: 150px;


 }

 .leftbar-container .nav-links {
     display: flex;
     flex-direction: column;
     margin: 10px 10px;


 }

 .leftbar-container .nav-links li {
     display: block;
     width: 100%;
     padding: 10px 25px;
     text-align: center;
     cursor: pointer;
     color: #222;
     font-size: large;
     text-align: left;
 }

 .leftbar-container .nav-links li:not(.active):hover {
     background-color: #f5f5f5;
     border-radius: 8px;
 }

 .nav-links .active {
     background-color: #f0f0f0;
     border-radius: 8px;
 }